data/venice filter=lfs diff=lfs merge=lfs -text
data/grenoble filter=lfs diff=lfs merge=lfs -text
data/kuopio filter=lfs diff=lfs merge=lfs -text
data/nantes filter=lfs diff=lfs merge=lfs -text
data/palermo filter=lfs diff=lfs merge=lfs -text
data/sydney filter=lfs diff=lfs merge=lfs -text
data/turku filter=lfs diff=lfs merge=lfs -text
data/toulouse filter=lfs diff=lfs merge=lfs -text
data/bordeaux filter=lfs diff=lfs merge=lfs -text
data/brisbane filter=lfs diff=lfs merge=lfs -text
data/dublin filter=lfs diff=lfs merge=lfs -text
data/paris filter=lfs diff=lfs merge=lfs -text
data/prague filter=lfs diff=lfs merge=lfs -text
data/rennes filter=lfs diff=lfs merge=lfs -text
data/adelaide filter=lfs diff=lfs merge=lfs -text
data/canberra filter=lfs diff=lfs merge=lfs -text
data/detroit filter=lfs diff=lfs merge=lfs -text
data/luxembourg filter=lfs diff=lfs merge=lfs -text
data/rome filter=lfs diff=lfs merge=lfs -text
data/belfast filter=lfs diff=lfs merge=lfs -text
data/berlin filter=lfs diff=lfs merge=lfs -text
data/helsinki filter=lfs diff=lfs merge=lfs -text
data/lisbon filter=lfs diff=lfs merge=lfs -text
data/melbourne filter=lfs diff=lfs merge=lfs -text
data/winnipeg filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
